/* http://www.w3.org/TR/2005/WD-css3-background-20050216/ */
/* http://dbaron.org/css/css-vg/ */

Application {
	background-color: "-45deg #330000 #550000 #330000";
	background-image: Embed("../assets/designer.png");
	background-repeat: repeat;
	background-position: center;
	background-blend: add;
	borderSkin: ClassReference("com.degrafa.skins.CSSSkin");
}

Panel {
	color: #FFFFFF;
	border-alpha: 0.8;
	border-color: "#002255 #002255 #001144 #001144";
	border-width: "10px 30px 10px 10px";
	border-top-right-radius: 24px;
	border-bottom-left-radius: 24px;
	background-image: GRUNGE, "-90deg #666666 120px #FFFFFF 90% #AAAAAA", KITCHEN, RETRO;
	background-repeat: stretch, stretch, repeat-y, repeat;
	background-position: center, center, "top 85%", "top center";
	background-blend: multiply, multiply, normal, normal;
	asset-class: ClassReference("assets.ExampleAssets");
	borderSkin: ClassReference("com.degrafa.skins.CSSSkin");
}